.statistics {
  width: 400px;
  margin: auto;
  border: 2px solid darkcyan;
  text-align: center;
  padding: 10px 0;
}

.title {
  font-size: 30px;
  color: grey;
  padding: 5px 0;
}

.stat_list {
  display: flex;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 5);
  margin: 10px auto;
  padding: 10px 0;
  border: 1px solid darkcyan;
  background-color: lightcyan;
}
.label {
  font-weight: bold;
}
.percentage {
  color: grey;
  font-weight: bold;
}
